<div class='alert alert-info'>
  <strong>Got a minute?</strong> You can help improve this listing by <a href='/directory/service/{{ service.id }}/edit/{{ tab }}' title='edit this info'>editing it</a>.
</div>