<footer>
  <ul class='unstyled logos'>
    <li>
      <a href='http://www.bps.org.uk'><img src='/public/img/logo-bps.png' width='40'>
      <small>British Psychological Society</small></a>
    </li>

    <li>
      <a href='http://dcp.bps.org.uk'><img src='/public/img/logo-dcp.png' width='40'>
      <small>Division of Clinical Psychology</small></a>
    </li>

    <li>
      <a href='http://dcp-cyp.bps.org.uk/dcp-cyp_home.cfm'><img src='/public/img/logo-cyp.png' width='40'>
      <small>Faculty for Children and Young People</small></a>
    </li>
  </div>
</footer>