<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container-fluid'>
      <a class='brand' href='/'>CPLAAC</a>
      <ul class='nav'>
        <li><a href='/'><i class='icon-home icon-white'></i> Home</a>
        <li><a href='/about'><i class='icon-info-sign icon-white'></i> About</a>
        <li><a href='/forum'><i class='icon-comment icon-white'></i> Forum</a>
        <li><a href='/exchange'><i class='icon-random icon-white'></i> Resource Exchange</a>
        <li><a href='/services'><i class='icon-th-list icon-white'></i> Service Directory</a>
        <li><a href='/tools'><i class='icon-cog icon-white'></i> Tools</a>
      </ul>

      {% include 'partials/user-profile.twig' %}

    </div>
  </div>
</div>
