<ul class='nav nav-list well'>
<!--   <form class='form-search' action='/exchange/search' method='POST'>
    <input type='text' class='span12 search-query' placeholder='search for files' title='hit enter to perform the search'>
    <button type='submit' class='search-submit'><i class='icon-search'></i></button>
  </form> -->

  <li class='nav-header'> Resources
    <li><a href='/exchange/upload'><i class='icon-share'></i> <strong>Upload file</strong></a>
    <li><a href='/exchange/latest'><i class='icon-plus'></i> Most recent</a>
    <li><a href='/exchange/popular'><i class='icon-heart'></i> Most popular</a>
    <li><a href='/exchange/browse'><i class='icon-th-list'></i> Browse all files</a>
  <li class='divider'>

  <li class='nav-header'> My Profile
    <li><a href='/exchange/profile/rank'><i class='icon-signal'></i> My rank</a>
    <li><a href='/exchange/profile/uploads'><i class='icon-upload'></i> My uploads</a>
    <li><a href='/exchange/profile/downloads'><i class='icon-download'></i> My downloads</a>

  <li class='divider'>

  <li class='nav-header'> Statistics
    <li><a href='/exchange/leaderboard'><i class='icon-star'></i> Leaderboard</a>
</ul>