{% extends 'layouts/cplaac.twig' %}

{% block content %}
  <div class='page-header'>
    <h1>Resource Exchange <small>share relevant resources between CPLAAC members</small></h1>
  </div>

  <div class='row-fluid'>
    <div class='span3'>
      {% include 'partials/resource-nav.html' %}
    </div>

    <div class='span9'>
      {% block profile %}
        <div class='row-fluid'>
          <div class='span10'>
            <!-- <div class='well'> -->
              <h2>{% block profile_title %} Hey {{ app.user.username }}! {% endblock %}</h2>
              <p class='large'>{% block profile_text %}{% endblock %}</p>
            <!-- </div> -->
          </div>

          <div class='span2'>
            <div class='well points'>
              <h1>{{ app.user.getPoints }}<br><small>points</small></h1>
            </div>
          </div>
        </div>
      {% endblock %}
      
      {% block inner_content %}{% endblock %}
    </div>
  </div>
{% endblock %}