{% extends 'layouts/resource-exchange.twig' %}

{% block profile %}{% endblock %}

{% block inner_content %}  
  <div class='hero-unit'>
    <h1>Share and share alike</h1>
    <p>Share whatever files you think are relevant, and compete with each other to be the best sharer!</p>

    <a class='btn btn-primary btn-large' href='/exchange/upload'>Start uploading!</a> 
  </div>

  <div class='row-fluid'>
    <div class='span4'>
      <h2>How does it work?</h2>
      <p>Every time you upload a file, you are awarded points. Every time someone else downloads your file, you're awarded a smaller number of points. The more popular your file is, the more you are rewarded.</p>
    </div>

    <div class='span4'>
      <h2>What do I do?</h2>
      <p>You're encouraged to share, so you can get started by <a href=''><i class='icon-circle-arrow-up'></i> uploading a file</a>. There is nothing stopping you downloading files other CPLAAC members have shared, though. You can try <a href=''><i class='icon-search'></i> searching</a> for something you want, or just <a href=''><i class='icon-th-list'></i> have a look around</a>.</p>
    </div>

    <div class='span4'>
      <h2>...Why?</h2>
      <p>Why not?</p>
    </div>
  </div>
{% endblock %}