{% extends 'layouts/resource-exchange.twig' %}
{% import 'macros/tables.twig' as tables %}

{% block profile_title %}
  Most Popular Resources
{% endblock %}

{% block profile_text %}
  These are the resources that members of the community have downloaded the most. Want to get in the top 20? <a href='/exchange/upload'>Upload a resource you think will be helpful</a>.
{% endblock %}

{% block inner_content %}
  {% if files %} 
    {{ tables.file_list(files) }}
  {% else %}
    <div class='alert alert-info'>
      <strong>Nothing to see here!</strong> No files have been uploaded yet. <a href='/exchange/upload'>Be the first to share!</a>
    </div>
  {% endif %}
{% endblock %}