{% extends 'layouts/cplaac.twig' %}

{% block content %}
  <div class='page-header'>
    <h1>About CPLAAC</h1>
  </div>

  <div class='row-fluid'>
    <div class='span7'>
      <p>An increasing number of clinical psychology posts in the child and adolescent speciality have dedicated time for working with children who are Looked After or adopted. This can be within or outside of CAMHS, set within Social Services, as part of interagency projects or services, or provided by individuals working alone.</p>

      <p>CPLAAC is the National Network of Clinical Psychologists working with Looked After and Adopted Children. We meet 3 times a year, normally on a Thursday, in the OU regional centre in Harborne near Birmingham in March, June and October. Although most members are clinical psychologists, we are not exclusive, and welcome allied professionals working with Looked After and Adopted Children, as well as research/academic psychologists, trainee clinical psychologists and assistant psychologists.</p>
    </div>

    <div class='span5'>
      <div class='well'>
        <h3>Opportunities Provided by CPLAAC</h3>
        <ul>
          <li>Link those working with Looked After and Adopted children 
          <li>Share information from local services 
          <li>Share good practise that is developing within the UK 
          <li>Learn what is happening at local, national and international levels 
          <li>Hear from those doing innovative work relevant to this area 
        </ul>
      </div>
    </div>
  </div>

  <hr>
  <div class='row-fluid'>
    <div class='span4'>
      <img src='/public/img/licensed/family-read.jpg'>
    </div>
    <div class='span8'>
      <h2>The Network</h2>
      <p>The network is run informally, with a chair who maintains the database, mailing list (and now the website and forum), responds to requests and organises & chairs the meetings. Notes of the meetings are taken and circulated to those on the distribution list.</p>

      <p>The CPLAAC Network is linked to the Child Faculty of the BPS, who assist with funding. We also contribute to Service and Practise Update (the yellow covered magazine sent to members of the Child Faculty). It is not necessary to be a member of the BPS or Child Faculty to be part of the CPLAAC network or attend meetings.</p>

      <p>The network was established and until recently chaired by Kim Goulding, who has done a massive amount of work to build the network to the large supportive thriving group it is today. She has promised to remain involved to support me as I act as chair for the coming year(s), and I am also grateful for the other regular contributors to the Network, particularly those who help organise the study day and offer presentations.</p>
    </div>
  </div>

  <hr>
  <div class='row-fluid'>

    <div class='span8'>
      <h2>Meetings</h2>
      <p>The CPLAAC meetings, including the study day, are always at the OU building on Harborne High Street, next door to Barclays bank. This is a venue on the outskirts of Birmingham, and is central in the country and accessible by road, rail and air. <a href='http://www3.open.ac.uk/contact/maps.aspx?contactid=4'>Get directions</a>.
    </div>

    <div class='row-fluid'>
      <div class='span6'>
        <h3>June meeting</h3>
        <p>The June meeting is a conference/study day in which several people present work they are doing with Looked After and Adopted children, and there are invited speakers. It has been a really positive way to learn and network, with the last two conferences gathering very positive feedback. The study day has a charge, but the other two days are free!</p>
      </div>

      <div class='span6'>
        <h3>March and October meetings</h3>
        <p>The March and October meetings are also full days, with business meeting and discussion in the morning, and a presentation in the afternoon. These dates are well attended by psychologists from all over the UK, and it is a great chance to get to know each other and make sure we are not each inventing our own wheel and struggling with common issues in isolation!</p>
      </div>
    </div>
  </div>
{% endblock %}