{% extends 'layouts/cplaac.twig' %}

{% block content %}
  <div class='page-header'>
    <h1>{{ service.service_name }} <small>Update Information</small></h1>
  </div>

  <div class='row-fluid'>
    <div class="span12">
      <form action="/services/{{service.id}}" method="POST">
        {{ form_widget(form) }}
        <input type="submit" value="Save" class="btn btn-primary btn-large">
      </form>
    </div>
  </div>
{% endblock %}
