{% extends 'layouts/cplaac.twig' %}

{% block content %}
  <div class='page-header'>
    <h1>Service Directory <small>New Service</small></h1>
  </div>

  <div class='row-fluid'>
    <div class="span12">
      <form action="/services/" method="POST">
        {{ form_widget(form) }}
        <input type="submit" value="Save" class="btn btn-primary btn-large">
      </form>
    </div>
  </div>
{% endblock %}
